<div class="home-hero-container">
  <div class="home-hero">
    <div class="hero-picture">
      <%= image_tag "bourbon.jpg" %>
      <div class="hero-picture-date">Oct. 13th, 2013</div>
    </div>
    <div class="hero-picture">
      <%= image_tag "violet_bath.jpg" %>
      <div class="hero-picture-date">June 23rd, 2014</div>
    </div>
    <div class="hero-picture">
      <%= image_tag "morocco.png" %>
      <div class="hero-picture-date">March 13th, 2015</div>
    </div>
    <div class="hero-picture">
      <%= image_tag "third_anny.jpg" %>
      <div class="hero-picture-date">May 14th, 2016</div>
    </div>
  </div>
</div>

<div>

</div>