<div class="navbar-container">
  <div class="nav-links">
    <div class="home-link">
      <%= image_tag "logo.png" %>
    </div>
    <div class="photo-link">
      <%= link_to "Photos", photos_path %>
    </div>
    <div class="roadmap-link">
      Roadmap
    </div>
  </div>
  <div class="user-account">
    <% if user_signed_in? %>
       <%= link_to destroy_user_session_path do %>
         <i class="fa fa-user" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-user" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>