<div class="navbar-container">
  <i class="fa fa-user" aria-hidden="true"></i>
  <% if user_signed_in? %>
       <%= link_to('logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('login', new_user_session_path) %>
    <% end %>
</div>