<div class="card-container">
  <h1>To my lovely Babee:</h1>
  <div class="card-content">
    <p>I can't believe it has been 4 years already! I guess time flies when you are in love! You are the one who got me through my rough times (the KIPP era) and you are the one I am so excited to spend my amazing times to come with. It never ceases to amaze me how lucky I am to have such a wonderful person like you in my life. No matter how crazy you may think you are, there is nothing you could do to make me love you less! I am yours forever and you are mine forever (because we bought a house of course)! I know we have been tested throughout the process of owning a house together as well as your crazy work scheudle, but I think our relationship is stronger because of it. I don't know many couples who can have the honest conversations we have (even if I like to listen more than talk most of the time).</p>
    <p>Someday, we are going to own a second puppy and get married and own another house together, probably in that order! If you had told me 4 years ago that I would be saying that about someone, I don't think I would have believed you. That is how great our love has blossomed these past years and I look forward to many, many, many, many, many, many more anniversaries to come!</p>
    <div class="signature">
      <p>Yours now and forever,</p>
      <h3>Your Baboo</h3>
    </div>
  </div>
</div>