.navbar-container {
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, .9);
  z-index: 7;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  text-align: center;

  .user-account {
    width: 50px;
    padding: 20px;
    font-size: 30px;

    a {
      color: #7A16B3;
    }

  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    div {
      padding: 0 20px;

      a {
        text-decoration: none;
        color: #7A16B3;
        font-size: 16px;
      }

      a:hover {
        background-color: unset;
        color: #b67bf0;
      }
    }

    .photo-link, .roadmap-link, .restaurant-link {
      border-right: 1px solid silver;
    }

    .home-link {
      img {
        width: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.mobile-navbar-container {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 7;
  border-top: solid 1px silver;
  background: rgba(255, 255, 255, .9);

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  .mobile-link {
    width: 33%;
    padding: 30px 15px;
    text-align: center;
    font-size: 20px;
    a {
      color: #7A16B3;
    }

    a:hover {
      background-color: unset;
      color: #b67bf0;
    }
  }

  .roadmap-link, .restaurant-link {
    border-right: solid 1px silver;
  }
}

@media only screen and (max-device-width: 600px) {
  .navbar-container {
    .nav-links {
      justify-content: center;
      .photo-link, .roadmap-link, .restaurant-link, .card-link {
        display: none;
      }
      .home-link {
        img {
          width: 200px;
        }
      }
    }
  }

  .mobile-navbar-container {
    display: block;
  } 
}