.navbar-container {
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, .9);
  z-index: 7;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  text-align: center;

  .user-account {
    width: 50px;
    padding: 20px;
    font-size: 30px;
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    div {
      padding: 0 20px;
    }

    .home-link {
      img {
        width: 100px;
      }
    }
  }
}